*, *:after, *:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0
}

html {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #444;
    font-size: 100%
}

input, button, textarea {
    font-family: inherit
}

body {
    background-color: #f7fafb;
    margin: 0 auto
}

img {
    border: none;
    max-width: 100%
}

a {
    color: #167bf7;
    display: inline-block
}

body {
    max-width: 500px;
    min-width: 320px;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

@media (min-width: 1px) {
    body {
        max-width: none
    }
}

.container {
    padding-right: 16px;
    padding-left: 16px
}

@media (min-width: 550px) {
    .container {
        padding-right: 25px;
        padding-left: 25px
    }
}

@media (min-width: 750px) {
    .container {
        padding-right: 30px;
        padding-left: 30px
    }
}

@media (min-width: 1000px) {
    .container {
        padding-right: 40px;
        padding-left: 40px;
        max-width: 1280px
    }
}

@media (min-width: 1280px) {
    .container {
        padding-right: 0;
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
        width: 1200px
    }
}

main {
    min-height: 60vh
}

.unlinkify {
    color: inherit;
    text-decoration: none
}

.old-browser {
    background-color: #2A7AE4;
    text-align: center;
    line-height: 1.4;
    padding: 8px
}

.buttonLight {
    background: transparent;
    border: 2px solid currentColor;
    color: #4dba7a;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    padding: .5rem 1.2rem;
    -webkit-transition: color 300ms, background-color 300ms;
    transition: color 300ms, background-color 300ms;
    cursor: pointer
}

@media (min-width: 1000px) {
    .buttonLight {
        padding: 15px 60px
    }
}

.buttonLight:hover {
    background-color: #4dba7a;
    color: #FFF
}

.buttonForm {
    background: #fff;
    color: #9898a6;
    font-size: .8125em;
    font-weight: bold;
    text-align: center;
    border: 2px solid #9898a6;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    vertical-align: middle;
    cursor: pointer;
    -webkit-transition: color .5s, background-color .5s;
    transition: color .5s, background-color .5s;
    border-left: none
}

.buttonForm:hover {
    background-color: #9898a6;
    color: #FFF
}

.titulo-principal__wrapper {
    background-image: url(../images/luz-roxa.png);
    background-color: #041b3a;
    position: relative;
    padding-bottom: 2em
}

.container {
    position: relative;
    z-index: 5
}

.titulo-principal {
    color: #fff;
    font-weight: bold;
    font-size: 2.125rem;
    letter-spacing: -.6px;
    line-height: 1.2;
    padding-bottom: 1.2em;
    padding-top: 1em;
    text-align: left
}

.titulo-principal span {
    display: block
}

.titulo-principal__wrapper:after {
    content: '';
    font-size: 1rem;
    width: 100vw;
    height: 2.5em;
    position: absolute;
    bottom: -1.5em;
    left: 0;
    background: #fff;
    -webkit-transform: skewY(-2deg);
    transform: skewY(-2deg)
}

.titulo-principal[data-erro] {
    background-color: #D64B4E
}

.subtitulo-outros-instrutores {
    letter-spacing: -.6px;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 1em
}

.titulo {
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 1em;
    padding-top: 1em;
    line-height: 1.5
}

@media (min-width: 600px) {
    .titulo-principal__wrapper {
        background-size: 160%;
        background-position: center
    }

    .titulo-principal__wrapper:after {
        height: 3em;
        bottom: -1.5em
    }

    .titulo-principal {
        font-size: 3rem;
        padding-bottom: 2em
    }
}

@media (min-width: 768px) {
    .titulo-principal__wrapper {
        background-size: 130%
    }
}

@media (min-width: 1000px) {
    .titulo-principal {
        font-weight: 900;
        width: 7em;
        padding: 1.5em 0 2.5em
    }

    .titulo-principal__wrapper:after {
        height: 25em;
        bottom: -22em
    }
}

@media (min-width: 1150px) {
    .titulo-principal__wrapper {
        background-size: 100%
    }
}

@media (min-width: 1600px) {
    .titulo-principal__wrapper {
        background-image: url(../images/luz-roxa.png)
    }
}

