input[type=text],
input[type=password],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 40%;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.formulario {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 800px;
    height: 600px;
}

.header-form {
    height: 50px;
    background-color: #f2f2f2;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    color: black;
}