body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.linha {
    display: flex;
    width: 98vw;
    padding: 3px;
}

.linha div {
    height: 100px;
    width: 100vw;
    border: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linha div span {
    color: aliceblue;
    font-size: 25px;
}

div {
    margin: 5px;
}

.demos {
    font-size: larger;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    background-color: #8edb98;
    border-radius: 10px;
    color: black;
}

.background-01 {
    background: linear-gradient(135deg, #c3a3f1, #6414e9);
}

.background-02 {
    background: linear-gradient(30deg, #cff675, #8edb98);
}

.background-03 {
    background: linear-gradient(180deg, #ffdf77, #ffa64d);
}

.background-04 {
    background: linear-gradient(145deg, #f6a3ff, #ff3999);
}

.background-05 {
    background: radial-gradient(#ff78c9, #ff0a9d);
}

.background-06 {
    background: linear-gradient(90deg, #43a4f9, #1ef4ff);
}

.background-07 {
    background: linear-gradient(#fe2b4b, #ffb7ac);
}

.background-08 {
    background: linear-gradient(30deg, #1cb2fd, #0aff81);
}

.background-09 {
    background: linear-gradient(125deg, #7700ff, #f457c2);
}

.background-10 {
    background: linear-gradient(#fff67a, #ffaa00);
}

.background-11 {
    background: linear-gradient(35deg, #01ff95, #d0ff00);
}

.background-12 {
    background: linear-gradient(90deg, #fd552b, #fb44cd);
}

.background-13 {
    background: linear-gradient(#77d6ff, #44b4fa, #0766ff);
}

.background-14 {
    background: linear-gradient(-30deg, #800080, #ff7aff);
}

.background-15 {
    background: linear-gradient(-60deg, #03035b, #c853fe);
}