* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/background.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.container {
    display: flex;
    /*display: none;*/
    align-items: center;
    justify-content: center;
    width: 100%;
    /*border: 3px solid red;*/
    height: 96vh;
}